p {
    color: blue;
}

.destacado {
    background-color: lightyellow;
}

#experiencia {
    border: red dotted 2px;
}

#experiencia p {
    font-size: 0.9em;
}

a[target="_blank"]::after {
    content: "🔗";
}