* {
    box-sizing: border-box;
}

p {
    color: blue;
}

.destacado {
    background-color: lightyellow;
}

.experiencia {
    border: red dotted 2px;
}

.experiencia p {
    font-size: 0.9em;
}

ul.experiencia > li {
    list-style-type: square;
}

a[target="_blank"]::after {
    content: "🔗";
}

h2 + p {
    margin-top: 0;
}

h2 ~ p {
    color: lightgray;
}

.intro p {
    border-left: orange solid 5px;
}

.contacto a[target="_blank"] {
    color: green;
    text-decoration: none;
}